<div class="hero-section">
  <div class="overlay">
    <div class="content">
      <h1 class="logo">Collab<span>X</span></h1>
      <h2>Building Stronger Bridges Between <br> MNCs and Startups</h2>
      <p>
        A unified platform for collaboration, project sharing, and issue tracking — 
        simplifying communication between enterprises and innovators.
      </p>

      <div class="buttons">
        <button routerLink="/login" class="btn btn-primary">Login</button>
        <button routerLink="/about" class="btn btn-outline-light">About CollabX</button>
      </div>
      
    </div>
  </div>
</div>